<html>
    <head>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/main.css">
        <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="static/typeahead.bundle.js"></script>
        <link rel="stylesheet" href="/static/custom_search.css">

        <style>

            .preview img {
                width: 100px;
                height: 100px;
                vertical-align: top;
                margin-right: 20px;
            }

            .preview{
                margin-left: 100px;
                margin-right: 100px;
                margin-top: 20px;
                margin-bottom: 20px;
                background-color: #f6f6f6;
                padding: 30px;
            }

            .keyword{
                font-weight: bold;
            }

     
        </style>

    </head>
    <body>
        <form class="form-inline global-search" style="width: 100%">
            <div class="header">
                <h1 style="font-size: 55px; font-family:Futura; color: black">
                    Tastes Like Home 
                </h1>
            </div>
            
            <br><br>
            <div class="form-row" style="height: 12%">
                <div class="form-group col-md-4">
                    <input id="restaurant" type="text" name="search_restaurant" class="form-control typeahead" placeholder="Your favourite restaurant" value= "{{query[0]}}">
                </div>
                <div class="form-group col-md-4">
                    <input id="city" type="text" name="search_city" class="form-control typeahead" placeholder="Your target city" value= "{{query[1]}}">
                </div>
                <div class="form-group col-md-4">
                    <input id="keywords" type="text" name="search_keywords" class="form-control typeahead" placeholder="Things you like (separate by comma)" value="{{query[2]}}">
                </div>                
            </div>

            <br><br>
            <div class="form-row" style="height: 12%">
                <button type="submit" class="btn btn-info btn-lg"> Go! </button>
            </div>
        </form>

        <!--CITATION: CinemaPop auto-complete: https://github.com/erikjchan/cs4300sp2018-cinemapop/blob/master/app/templates/search.html-->
        <!--CITATION: typeahead.js examples: http://twitter.github.io/typeahead.js/examples/-->
        <script>
            // Typeahead initialization for restaurant name auto-complete
            let restaurantNames = new Bloodhound({
              datumTokenizer: Bloodhound.tokenizers.whitespace,
              queryTokenizer: Bloodhound.tokenizers.whitespace,
              prefetch: {
                url: 'static/all_splits/restaurant_names.json'
              }
            });
            $('#restaurant').typeahead(
                {
                    highlight: true
                }, 
                {
                    name: 'restaurant-names',
                    source: restaurantNames
                }
            );

            // Typeahead initialization for city name auto-complete
            let cityNames = new Bloodhound({
              datumTokenizer: Bloodhound.tokenizers.whitespace,
              queryTokenizer: Bloodhound.tokenizers.whitespace,
              prefetch: {
                url: 'static/cities.json'
              }
            });
            $('#city').typeahead(
                {
                    highlight: true
                }, 
                {
                    name: 'city-names',
                    source: cityNames
                }
            );
        </script>

        <form class="">

        {% if data %}
            <h1 style="text-align: center;">{{output_message}}</h1>
            {% for d in data %}  
            <a href="https://www.yelp.com/biz/{{d}}" style="text-decoration: none;color: inherit;">
                <div class="preview" data-id="{{ d }}" data-keywords="{{data[d]['keywords']}}" data-score="{{data[d]['score']}}" data-cats="{{data[d]['similar_categories']}}" data-revs="{{data[d]['similar_reviews']}}">
                    <div style="min-height: 110px;">
                        <img src="static/loading.gif" alt="" align='left'>
                        <div>
                            <span style="font-weight: bold;color:#4d4d4d;">{{ data[d]['name'].strip() }}</span>
                            <br>
                            <span style="color: #b0b0b0;">{{data[d]['address']}}</span>
                            <br>
                            <!-- <span>{{data[d]['rating']}}</span> -->
                            <span id="score" style="font-style: italic;"></span>
                            <br>
                            <span id="cats" style="font-style: italic;"></span>
                            <br>
                            <span id="revs" style="font-style: italic;"></span> 
                            <br>
                            <span id="keywords" style="font-style: italic;"></span>
                            
                        </div>
                        
                        
                    </div>
                    
                    

                    

                </div>
            </a>
                
            {% endfor %}
        {% endif %}

        </form>
      </main>
      <footer class="footer" style="display: flex;">
        <div>
          <div>{{ name }} | Discover your new favorite restaurant in a new city! </div>
          <div> Authors | {{ netid }} </div>
        </div>
        <div class="prototype">
          <ul style="list-style: none;">
            <li><a href="https://better-yelp-recommendations.herokuapp.com/"> Prototype 1 </a></li>
            <li><a href="https://tasteslikehomep2.herokuapp.com/"> Prototype 2 </a></li>
          </ul>
        </div>
      </footer>
    </body>

    <script>
        document.querySelector(".preview").style.border = "2px dashed #00c800"
        document.querySelectorAll(".preview").forEach(function(e){
            let bid = e.getAttribute("data-id"),
                score = e.getAttribute("data-score"),
                cats = JSON.parse(e.getAttribute("data-cats").replace("{","[").replace(/'/g, "\"").replace("}","]")).join(", "),
                revs = JSON.parse(e.getAttribute("data-revs").replace(/'/g, "\"")),
                keywords = JSON.parse(e.getAttribute("data-keywords").replace(/'/g, "\""))

            let img = e.querySelector("img"),
                score_span = e.querySelector("#score"),
                cats_span = e.querySelector("#cats"),
                keywords_span = e.querySelector("#keywords"),
                revs_span = e.querySelector("#revs")
            

            fetch("get_img?bid=" + bid)
                .then(response => response.text())
                .then(data => img.setAttribute("src", data || "static/burger.png"))

            let review_keywords = new Set(revs.concat(keywords))

            console.log(review_keywords)
            console.log(revs)
            console.log(keywords)

            score_span.innerText = `Score: ${score}`
            cats_span.innerText = `Categories in common: ${cats}`
            revs_span.innerText = `Words Often Shared in Reviews: `

            review_keywords.forEach(e=>{
                let kws = document.createElement("span")
                kws.innerHTML = e + "&nbsp"
                if (keywords.includes(e)){
                    kws.setAttribute("class", "keyword")
                }

                revs_span.appendChild(kws)


            })
            
            
            

        })
    </script>

</html>