<html>
    <head>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/main.css">
    </head>
    <body>
        <div class="topcorner">
            <p>Project Name: {{ name }}</p>
            <p>Student Name: ({{ netid }})</p>
        </div>
        <form class="form-inline global-search">
            <div class="header">
                <h1 style="font-size: 55px; font-family:Futura; color: black">
                    Tastes Like Home 
                </h1>
            </div>
            
            <br><br>
            
            <div class="form-group">
                <input id="input" type="text" name="search_restaurant" class="form-control" placeholder="Your favourite restaurant">
            </div>

            <div class="form-group">
                <input id="input" type="text" name="search_city" class="form-control" placeholder="Your target city">
            </div>
            
            <button type="submit" class="btn btn-info"> Go! </button>
        </form>
        <form class="form-inline global-search">
        {% if data %}
            <h1>{{output_message}}</h1>
            {% for d in data %}  
                <br>
                <p><h2>{{d}}</h2></p>
            {% endfor %}
        {% endif %}
        </form>
    </body>

</html>