<html>
    <head>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/main.css">
        <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="static/typeahead.bundle.js"></script>
        <link rel="stylesheet" href="/static/custom_search.css">

        <style>

            .preview img {
                width: 100px;
                height: 100px;
                vertical-align: top;
                margin-right: 20px;
            }

            .preview{
                margin-left: 100px;
                margin-right: 100px;
                margin-top: 20px;
                margin-bottom: 20px;
                background-color: #f6f6f6;
                padding: 30px;
            }

            body {
                background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('static/assorted-salads-on-bowls.jpg');
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: cover;
            }
     
        </style>

    </head>
    <body>
        <form class="form-inline global-search" style="width: 100%">
            <div class="header">
                <h1 style="font-size: 60px; font-family:Verdana; font-weight:bold; color: white">
                    Tastes Like Home 
                </h1>
            </div>
            
            <br><br>
            <div class="form-row" style="height: 12%">
                <div class="form-group col-md-4">
                    <input id="restaurant" type="text" name="search_restaurant" class="form-control typeahead" placeholder="Your favourite restaurant" value= "{{query[0]}}">
                </div>
                <div class="form-group col-md-4">
                    <input id="city" type="text" name="search_city" class="form-control typeahead" placeholder="Your target city" value= "{{query[1]}}">
                </div>
                <div class="form-group col-md-4">
                    <input id="keywords" type="text" name="search_keywords" class="form-control typeahead" placeholder="Keywords (separate by comma)" value="{{query[2]}}">
                </div>                
            </div>

            <br><br>
            <div class="form-row" style="height: 12%">
                <button type="submit" class="btn btn-info btn-lg"> Go! </button>
            </div>
        </form>

        <!--CITATION: CinemaPop auto-complete: https://github.com/erikjchan/cs4300sp2018-cinemapop/blob/master/app/templates/search.html-->
        <!--CITATION: typeahead.js examples: http://twitter.github.io/typeahead.js/examples/-->
        <script>
            // Typeahead initialization for restaurant name auto-complete
            let restaurantNames = new Bloodhound({
              datumTokenizer: Bloodhound.tokenizers.whitespace,
              queryTokenizer: Bloodhound.tokenizers.whitespace,
              prefetch: {
                url: 'static/all_splits/restaurant_names.json'
              }
            });
            $('#restaurant').typeahead(
                {
                    highlight: true
                }, 
                {
                    name: 'restaurant-names',
                    source: restaurantNames
                }
            );

            // Typeahead initialization for city name auto-complete
            let cityNames = new Bloodhound({
              datumTokenizer: Bloodhound.tokenizers.whitespace,
              queryTokenizer: Bloodhound.tokenizers.whitespace,
              prefetch: {
                url: 'static/cities.json'
              }
            });
            $('#city').typeahead(
                {
                    highlight: true
                }, 
                {
                    name: 'city-names',
                    source: cityNames
                }
            );
        </script>

        <form class="">

        {% if data %}
            <h1 style="text-align: center; color: white">{{output_message}}</h1>
            {% for d in data %}  
            <a href="https://www.yelp.com/biz/{{d}}" style="text-decoration: none;color: inherit;">
                <div class="preview">
                    <div style="min-height: 110px;">
                        <img src="static/loading.gif" id="{{ d }}" alt="" align='left'>
                        <span style="font-weight: bold;color:#4d4d4d;">{{ data[d]['name'].strip() }}</span>
                        <br>
                        <span style="color: #b0b0b0;">{{data[d]['address']}}</span>
                        <span>{{data[d]['rating']}}</span>
                    </div>
                    
                    

                    <span style="font-style: italic;">Score: {{data[d]['score']}}</span>
                    <span style="font-style: italic;">Similar Categories: {{data[d]['similar_categories']}}</span>
                    <span style="font-style: italic;">Words Often Shared in Reviews: {{data[d]['similar_reviews']}}</span>
                    <span style="font-style: italic;">Keywords we found in reviews: {{data[d]['keywords']}}</span>


                </div>
            </a>
                
            {% endfor %}
        {% endif %}

        </form>
        <form class="footer"> 
            <div>
                <p>{{ name }} | {{ netid }}</p>
            </div>
        </form>
    </body>

    <script>
        document.querySelectorAll(".preview img").forEach(function(e){
            let bid = e.id
            fetch("get_img?bid=" + bid)
                .then(response => response.text())
                .then(data => e.setAttribute("src", data || "static/burger.png"))
        })
    </script>

</html>